h1{
	color: 0000;
	text-align: center;
}

body{
	background-color: #fffbed;
}

.title1{
	text-align: center;
	background-color: #ff9e9a;
}

.title2{
	text-align: center;
	background-color: #5dd6b2;
	font-size: 25px;
}

.title3{
	text-align: center;
	background-color: #5dd6b2;
	font-size: 25px;
}

h2{
	text-align: center;
	font-size: 40px;
}

h3{
	text-align: center;
	font-size: 40px;
}

h4{
	text-align: center;
	font-size: 40px;
}

h5{
	text-align: center;
	font-size: 40px;
}

p{
	font-size: 25px;
}