h1{
	color: 0000;
	text-align: center;
	font-size: 45px;
}

body{
	background-color: #fffbed;
}

table{
	border-width: 3px;
}

.title1{
	text-align: center;
	background-color: #ff9e9a;
}

.title2{
	text-align: center;
	background-color: #5dd6b2;
	font-size: 25px;
}

.title3{
	text-align: center;
	background-color: #5dd6b2;
	font-size: 25px;
}

h2{
	text-align: center;
	font-size: 40px;
}

h3{
	text-align: center;
	font-size: 40px;
}

h4{
	text-align: center;
	font-size: 40px;
}

h5{
	text-align: center;
	font-size: 40px;
}

p{
	font-size: 25px;
}

h6{
	font-size: 60px;
	color:  #ff9e9a;
	margin: 0px;
}

h7{
	font-size: 35px;
	text-align: center;
}
