h1{
	color: 0000;
	text-align: center;
}

body{
	background-color: #fffbed;
}

.title1{
	text-align: center;
	background-color: #ff9e9a;
}

.title2{
	text-align: center;
	background-color: #5dd6b2;
}

.title3{
	text-align: center;
	background-color: #5dd6b2;
}

